    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    body {
        color: #15346a;
        background-color: white;
        scroll-behavior: smooth;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    p {
        font-weight: 100;
    }
    
    .hero {
        width: 100%;
        height: 650px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        color: #15346a;
        text-align: center;
        background-image: url('https://images.pexels.com/photos/7002964/pexels-photo-7002964.jpeg?auto=compress&cs=tinysrgb&w=600')
    }
    
    .msg {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        color: #15346a;
    }
    
    .msg p {
        font-weight: 100;
        font-size: 1.5rem;
        backdrop-filter: blur(5px);
    }
    
    .msg h1 {
        font-size: 4rem;
        color: #15346a !important;
        backdrop-filter: blur(20px);
    }
    
    .semi-text-img {
        margin-right: 20px;
        margin-left: 20px;
        height: 350px;
        color: #15346a;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #c5c5c5;
        border-radius: 15px;
    }
    
    .text {
        width: 50%;
        padding: 50px;
        text-align: center;
    }
    
    .img-section {
        width: 614px;
        height: 349px;
    }
    
    .img-section img {
        width: 100%;
        height: 350px;
        border: 1px solid;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .custom-rounded-card {
        border-radius: 10px;
        background-color: #f5f5f5;
        height: 500px;
        width: 300px;
        color: #15346a;
        display: flex;
        flex-direction: column;
        /* Adjust the height as needed */
    }
    
    .img img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    
    .custom-title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    
    .custom-text {
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        text-align: center;
    }
    
    .semi-text-img1 {
        margin-right: 20px;
        margin-left: 20px;
        height: 450px;
        color: #15346a;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: 1px solid #c5c5c5;
        border-radius: 15px;
    }
    
    .text1 {
        width: 50%;
        padding: 50px;
        text-align: center;
    }
    
    .img-section1 {
        width: 614px;
        height: 449px;
    }
    
    .img-section1 img {
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .ab-card {
        display: flex;
        flex-direction: row;
    }
    
    @media screen and (max-width:768px) {
        .hero {
            height: 391px;
            width: 100%;
        }
        .msg p {
            font-size: 0.9rem;
        }
        .msg h1 {
            font-size: 2rem;
        }
        .semi-text-img {
            flex-direction: column;
            height: 573px;
            width: 340px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .text {
            width: 100%;
            font-size: 0.9rem;
            padding-top: 15rem;
        }
        .img-section {
            width: 100%;
            height: 20%;
        }
        .custom-rounded-card {
            height: 500px;
            max-width: 340px;
            /* Adjust the height as needed */
            margin-right: 20px;
        }
        .custom-title {
            font-size: 1rem;
        }
        .custom-text {
            height: 100%;
            width: 90%;
            font-size: 0.8rem;
        }
        /* Add CSS for horizontal scrolling */
        .card-container {
            overflow-x: auto;
            display: flex;
        }
        .col {
            display: inline-block;
            vertical-align: top;
        }
        .card {
            width: 340px;
        }
        .semi-text-img1 {
            flex-direction: column;
            height: 573px;
            width: 340px;
        }
        .text1 {
            width: 100%;
            font-size: 0.9rem;
            height: 90%;
            padding: 0;
            padding-top: 10px;
        }
        .img-section1 {
            width: 100%;
            height: 40%;
        }
    }